.row
  .col-xs-6.col-xs-offset-3.m-y-3
    .card
      .row
        .col-xs-6.text-xs-center.p-y-1
          = link_to 'Log In', login_path
        .col-xs-6.text-xs-center.p-y-1
          Sign Up

        = render 'form'
